* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-image: url(./assets/images/bg.jpg);
}

.logo {
  max-width: 100%;
  width: 200px;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
}
